.section {
  border-bottom: rgb(222, 227, 234) 1px solid;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sectionH1 {
  color: #66BF8A;
  font-weight: bold;
  margin-bottom: 0;
}
.sectionImage {
  max-height: 500px;
}
.middle {
  margin: auto 0;
  display: inline-block;
}