/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('/img/Samenzoeken_landingspagina_background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pageDescription {
  max-width: 765px;
  font-size: 18px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.outOfScreen {
  position: absolute; left: -5000px
}

a {
  color: #08314b;
  font-weight: 500;
}

a:hover {
  color: #08314b;
  font-weight: 500;
}

#mc_embed_signup {
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  max-width: 400px;
}

#mc_embed_signup .button {
  background-color: #08314b;
}

#mc_embed_signup form {
  margin-left: 0 !important;
}

#mc_embed_signup .mc-field-group input {
  color: black;
}
