/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */


.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-image: url('/img/Samenzoeken_landingspagina_background-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pageDescription {
  max-width: 765px;
  font-size: 18px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}



.pageDescription a {
  color: #08314b;
  font-weight: 500;
}

.pageDescription a:hover {
  color: #08314b;
  font-weight: 500;
}
